

body {

width: 100%;
font-family: 'Oswald', sans-serif;

}


ul{
    margin: 0 auto;
    padding: 0;
   
}
ul.horizontal_list li{
    text-align: left;
    float: left;
    list-style: none;
    padding: 3px 10px 3px 10px;
    margin: 5px;
    border: none;
    color: #d2232a;
}

