

body {

width: 100%;
font-family: 'Oswald', sans-serif;
}

#container{
width: 100%;
background-color: none;

}


#header{

margin-top: 38px;
background-color: none;


}

ul{
    margin: 0 auto;
    padding: 0;
   
}
ul.horizontal_list li{
    text-align: left;
    float: left;
    list-style: none;
    padding: 2px 8px 5px 0px;
    margin: 25px 10px 0px 12px;
    border: none;
    color: #d2232a;
    background-color: none;
    font-size: 85%;
    letter-spacing: .08em;
}


a.nav:link {text-decoration:none; color: #d2232a;}
a.nav:visited {text-decoration:none; color: #d2232a;}
a.nav:hover {text-decoration:none; padding-bottom: 2px; border-bottom:1px solid #d2232a;}
a.nav:active {text-decoration:none;}


#home_button{


margin-top: 0px;


}


.current_page {text-decoration:none; padding-bottom: 2px; border-bottom:1px solid #d2232a;}


#content{
margin-top: 20px;
background-color:  #d2232a;
height: 400px;
clear: both;
display: block;
margin-bottom: 60px;

}


h1.home_page {
  font-size: 48px; 
  color: white;
  margin: 30px 0 0 40px;
  letter-spacing: .05em;
  line-height: 1.5em;
}

h2.home_page {
  font-size: 22px; 
  color: white;
  margin: 30px 0 0 40px;
  letter-spacing: .07em;
  line-height: 1.5em;
  
}

#home_small_quote{

margin-top: 10px;

}

.contact_house{

margin: 45px 0 0 0;


}