* {
	outline: none;
	}
	
body {
	margin: 0px;
	width: 100%;
	font-family: 'Oswald', sans-serif;
	}

/* START STYLE GUIDE */

H1 {
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	text-decoration: none;
	font-size: 48px;
	line-height: 60px;
	color: White;
	background: #d2232a;
	}
	
H2 {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	text-decoration: none;
	font-size: 40px;
	line-height: 56px;
	color: #d2232a;
	}

H3 {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	text-decoration: none;
	font-size: 28px;
	line-height: 40px;
	color: #d2232a;
	}

H4 {
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	text-decoration: none;
	font-size: 20px;
	line-height: 36px;
	color: #d2232a;
	}
	
p {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	text-decoration: none;
	font-size: 14px;
	line-height: 24px;
	color: #d2232a;
	margin-bottom: 10px;
	}

/* END STYLE GUIDE */

#container{
	background-color: none;
	}

#header{
	margin-top: 38px;
	background-color: none;
	}




body {
	margin: 0px;
	}

/* START SERVICES PAGE */

#servicesIntroWrap {
	background-color: #d2232a;
	padding: 30px;
	}

#servicesIntro H1{
	width: 900px;
	}	

#servicesIntro H3{
	color: White;
	width: 900px;
	}	

#tv {
	padding: 10px;
	border-bottom: solid 2px #d2232a;
	height: 300px;
	}

#tv img{
	display: block;
	}

#tv a{
	display: block;
	padding: 10px;
	width: 70px;
	background: #d2232a;
	color: White;
	text-decoration: none;
	float: right;
	}

#internet {
	padding: 10px;
	border-bottom: solid 2px #d2232a;
	height: 270px;
	}

#internet .text{
	border-right: solid 2px #d2232a;
	}

#internet p {
	margin-right: 10px;
	}

#internet a{
	display: block;
	padding: 10px;
	width: 70px;
	background: #d2232a;
	color: White;
	text-decoration: none;
	float: right;
	}

#internet a.internet_products{
	margin-right: 10px;
	width: 60px;
	}

#phone {
	padding: 10px;
	height: 250px;
	}

#phone .text{
	border-right: solid 2px #d2232a;
	}

#phone p {
	margin-right: 10px;
	}

#phone a{
	display: block;
	padding: 10px;
	width: 70px;
	background: #d2232a;
	color: White;
	text-decoration: none;
	float: right;
	}

#phone a.phone_products{
	margin-right: 10px;
	width: 60px;
	}

/* END SERVICES PAGE */

/* START PRODUCTS PAGE */


#productsIntro {
	background-color: #d2232a;
	padding: 30px;
	width: 960px;
	}
	
	#productsIntro h3{
	color: White;
	}
	
	.products #text{
	width: 540px;

	
	}
	
	#products #text{
	padding:20px 0 0 40px;
	border-left: solid 1px #d2232a; 
	
	}
	
	#products a{
	display: block;
	padding: 10px;
	width: 70px;
	background: #d2232a;
	color: White;
	text-decoration: none;
	float: right;
	}
	
	#products {
	padding:10px;
	border-bottom: solid 2px #d2232a;
	height: 300px;
	}
	
#products #nav2 {
	width:540px;
	height:50px;
	display:block;
	margin:0;
	}
	
	.productNav {
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	text-decoration: none;
	font-size:1.3em;
	color: #d2232a;
	cursor:pointer;
	}


	
	ul{
    margin: 0 auto;
    padding: 0;
	}

 ul.products_nav li{
    text-align: left;
    
    float: left;
    list-style: none;
    padding: 3px 50px 3px 0px;
    margin: 5px;
    border: none;
    color: #d2232a;
  
	}


/* END PRODUCTS PAGE */

/* START WHO WE ARE PAGE */

#whoIntroWrap {
	background-color: #d2232a;
	padding: 30px;
	}

#whoText H3{
	color: White;
	}

#missionStatement {
	margin-top: 20px;
	border-bottom: solid 2px #d2232a;
	}

#whereWeDoIt {
	background-color: #d2232a;
	padding: 10px;
	margin-top: 20px;
	}
	
#whereWeDoIt H4 {
	color: white;
	}
	
#whereWeDoIt p {
	color: white;
	}
	
/* END WHO WE ARE PAGE */

/* START FOOTER */

#footer {
	display: block;
	background: #d2232a;
	height: 35px;
	margin: 50px 0px 0px 0px;
	}

#footer ul {
	margin: 8 0 0 0px;
	list-style: none;
	}
	
#footer li {
	color: White;
	float: left;
	margin: 0 0 0 30px;
	list-style: none;
	}
	
	
#footer a {
	text-decoration: none;
	color: White;
	font-size: 10px;
	}

#footer a:hover {
	color: #cccccc;
	}

#footer-nav {
	float: right;
	margin: 5px 20px 0px 0px ;
	}
	
#footer p {
	float: left;
	color: White;
	margin: 4px 0px 0px 20px;
	font-size: 10px;
	}
	

/* END FOOTER */


ul.nav li{
    
    float: left;
    text-align: left;
   
    list-style: none;
    padding: 3px 10px 3px 10px;
    margin: 5px;
    border: none;
    color: #d2232a;

    padding: 2px 8px 5px 0px;
    margin: 25px 10px 0px 12px;
    border: none;
    
    background-color: none;
    font-size: 85%;
    letter-spacing: .08em;
}

a.nav:link {text-decoration:none; color: #d2232a;}
a.nav:visited {text-decoration:none; color: #d2232a;}
a.nav:hover {text-decoration:none; padding-bottom: 2px; border-bottom:1px solid #d2232a;}
a.nav:active {text-decoration:none;}

#home_button{
margin-top: -10px;
}

.current_page {text-decoration:none; padding-bottom: 2px; border-bottom:1px solid #d2232a;}

#content{
margin-top: 20px;
background-color:  #d2232a;
height: 400px;
clear: both;
display: block;
margin-bottom: 60px;
}


h1.home_page {
  font-size: 48px; 
  color: white;
  margin: 30px 0 0 40px;
  letter-spacing: .05em;
  line-height: 1.5em;
}

h2.home_page {
  font-size: 22px; 
  color: white;
  margin: 30px 0 0 40px;
  letter-spacing: .07em;
  line-height: 1.5em;
}

#home_small_quote{
margin-top: 10px;
}

.contact_house{
margin: 45px 0 0 0;
}

.contact_bubble{

margin-left: -118px;

}