* {
	outline: none;
	}
	
body {
	width: 960px;
	margin: 0 auto;
	font-family: 'Oswald', sans-serif;
	}

/* START STYLE GUIDE */

H1 {
	font-family: "depot-new-condensed-web",sans-serif;
	font-weight: 700;
	text-decoration: none;
	font-size: 3.7em;
	line-height: .8em;
	color: White;
	background: #d2232a;
	letter-spacing: .08em;
	}
	
H2 {
	font-family: "depot-new-condensed-web",sans-serif;
	font-weight: 300;
	text-decoration: none;
	font-size: 3.1em;
	line-height: 1.39em;
	color: #d2232a;
	margin-bottom: .25em;
	}

H3 {
	font-family: "depot-new-condensed-web",sans-serif;
	font-weight: 400;
	text-decoration: none;
	font-size: 2.15em;
	line-height: 1.43em;
	color: #d2232a;
	letter-spacing: .07em;
	}

H4 {
	font-family: "depot-new-condensed-web",sans-serif;
	font-weight: 700;
	text-decoration: none;
	font-size: 1.55em;
	color: #d2232a;
	}
	
H5 {
	font-family: "depot-new-condensed-web",sans-serif;
	font-weight: 400;
	text-decoration: none;
	font-size: 1.39em;
	line-height: 2em;
	color: #d2232a;
	}
	
H6 {
	ont-family: "depot-new-condensed-web",sans-serif;
	font-weight: 200;
	text-decoration: none;
	font-size: 1.39em;
	line-height: 2.2em;
	color: #d2232a;
	}		
	
p {
	font-family: 'Verdana', Helvetica, sans-serif;
	font-weight: 400;
	text-decoration: none;
	font-size: 1.08em;
	line-height: 1.71em;
	color: #d2232a;
	margin-bottom: .72em;
	}

.wwcd{
	margin-left: 20px;
	color: white;
	}

.floatLeft{
	float: left;
	}

/* END STYLE GUIDE */

#container{
	background-color: none;
	margin: 0 auto;
	}

#header{
	margin-top: 38px;
	background-color: none;
	}

/* START SERVICES PAGE */

#servicesIntroWrap {
	background-color: #d2232a;
	padding: 30px;
	}

#servicesIntro H1{
	}	

#servicesIntro H3{
	color: White;
	}	

#tv {
	padding: 10px;
	border-bottom: solid 2px #d2232a;
	}

#tv img{
	display: block;
	margin-bottom: 30px;
	}

#tv a{
	display: block;
	padding: 10px;
	width: 90px;
	background: #d2232a;
	color: White;
	text-decoration: none;
	float: right;
	}

#tv a:hover {
	color: #cccccc;
	}
	
	#internet a:hover {
	color: #cccccc;
	}

#phone a:hover {
	color: #cccccc;
	}

	
#internet {
	padding: 10px;
	border-bottom: solid 2px #d2232a;
	}

#internet .text{
	border-right: solid 2px #d2232a;
	}

#internet p {
	margin-right: 10px;
	}

#internet a{
	display: block;
	padding: 10px;
	width: 90px;
	background: #d2232a;
	color: White;
	text-decoration: none;
	float: right;
	}

#internet a.internet_products{
	margin-right: 10px;
	width: 60px;
	}

#phone {
	padding: 10px;
	}

#phone .text{
	border-right: solid 2px #d2232a;
	}

#phone p {
	margin-right: 10px;
	}

#phone a{
	display: block;
	padding: 10px;
	width: 90px;
	background: #d2232a;
	color: White;
	text-decoration: none;
	float: right;
	}

#phone a.phone_products{
	margin-right: 10px;
	width: 60px;
	}

/* END SERVICES PAGE */

/* START PRODUCTS PAGE */

#productsIntro {
	background-color: #d2232a;
	padding: 30px 0 30px 0;
	}
	
#productsIntro h3{
	color: White;
	padding-left: 30px;
	}
	
.products #text{
	width:620px;
	min-height:180px;
	}
	
.products #text2{
	width:540px;
	min-height:180px;
	padding:20px 0 0 40px;
	border-left: solid 1px #d2232a; 
	float:right;
	}
	
#slide_wrap #text{
	padding:20px 0 0 40px;
	border-left: solid 1px #d2232a; 
	float:right;
	}
	
.photo{
	float:left;
	width:300px;
	height:200px;
	}
	
li.slide1, li.slide2, li.slide3 {
	font-family:'Oswald', sans-serif;
	font-weight:700;
	text-decoration:none;
	font-size:1.3em;
	color:#d2232a;
	text-decoration:none;
	cursor:pointer;
	}
	
	li.slide1:hover, li.slide2:hover, li.slide3:hover {
	color:#cccccc;
	}
	
#slide_wrap #text a{
	display: block;
	padding: 10px;
	width: 70px;
	background: #d2232a;
	color: White;
	text-decoration: none;
	float: right;
	}
	
#slide_wrap {
	padding:10px;
	
	height: 200px;
	}
	
#slide_wrap .slide{
	display:none;
	}
						
#slide_wrap .slide.show{
	display:block;
	}
	
.controls{
	
	height:50px;
	display:block;
	margin:10px 0 20px 0px;
	}
	
ul{
    margin: 0 auto;
    padding: 0;
	}

ul.products_nav li{
    text-align: left;
    float: left;
    list-style: none;
    padding: 3px 50px 3px 0px;
    margin: 5px;
    border: none;
    color: #d2232a;
	}

.products h1{
	padding-left: 30px
	}

#slide_wrap #text a:hover {
	color: #cccccc;
	}

/* END PRODUCTS PAGE */

/* START WHO WE ARE PAGE */

#whoIntroWrap {
	background-color: #d2232a;
	padding: 30px;
	}

#whoText H3{
	margin-top: 10px;
	color: White;
	}

#missionStatement {
	margin-top: 40px;
	padding-bottom: 30px;
	border-bottom: solid 2px #d2232a;
	}

#where {
	margin-top: 40px;
	display: block;
	float: left;
	}

#whereWeDoIt {
	background-color: #d2232a;
	}
	
#whereWeDoIt H4 {
	color: white;
	margin-top: 24px;
	margin-bottom: 5px;
	margin: 24px 30px 5px 30px;
	}
	
#whereWeDoIt p {
	color: white;
	margin: 0px 30px 30px 30px;
	}	
	
#whereWeDoIt img {
	width: 400px;
	margin: 30px;
	}
	
#whatWeDo {
	margin-top: 40px;
	}	

#whatWeDo p{
	margin-bottom: 20px;
	}	

#whatWeDo H4 {
	margin-bottom: 5px;
	}

#missionStatement br {
	margin: 20px;
	}

/* END WHO WE ARE PAGE */

/* START FOOTER */

#footer {
	display: block;
	background: #d2232a;
	margin: 50px 0px 0px 0px;
	float: left
	}

#footer ul {
	margin: 8 0 10 0px;
	list-style: none;
	}
	
#footer li {
	color: White;
	float: left;
	margin: 0 0 0 20px;
	list-style: none;
	}
	
	
#footer a {
	text-decoration: none;
	color: White;
	font-size: 10px;
	}

#footer a:hover {
	color: #cccccc;
	}

#footer-nav {
	float: right;
	margin: 5px 20px 10px 0px ;
	}
	
#footer p {
	float: left;
	color: White;
	margin: 4px 0px 0px 20px;
	font-size: 10px;
	}

/* END FOOTER */

/* navigation */

ul.nav li{
    float: left;
    text-align: left;
    list-style: none;
    margin: 5px;
    border: none;
    color: #d2232a;
    padding: 2px 8px 35px 0;
    margin: 25px 10px 0px 12px;
    border: none;   
    background-color: none;
    font-size: 90%;
    letter-spacing: .03em;
	}

a.nav:link {text-decoration:none; color: #d2232a;}
a.nav:visited {text-decoration:none; color: #d2232a;}
a.nav:hover {text-decoration:none; padding-bottom: 2px; border-bottom:1px solid #d2232a; color: #cccccc;}
a.nav:active {text-decoration:none;}

#home_button{
	margin-top: -10px;
	}

.current_page{text-decoration:none; padding-bottom: 2px; border-bottom:1px solid #d2232a;}

#logo{
	margin-bottom: 25px;
	margin-top: 10px;
	}

/* end navigation*/

/* home page */

#content{
	background-color:  #d2232a;
	clear: both;
	display: block;
	}

<<<<<<< HEAD

=======
#home_small_quote{
	margin-top: 10px;
	}

#homeWrap {
	padding: 30px;
	}
>>>>>>> Home Page Work

#homeWrap H3{
	color: White;
	}

.contact_house{
	margin: 36px 0 0 690px;
	}

.contact_bubble{
	margin-top: -110px;
	margin-left: 690px;
	}


/*contact page*/

.contact#container{
	margin: 0 auto;
	}

#contact_content{
	width: 100%;
	border-top: solid #d2232a 4px;
	/*background-color: yellow;*/
	}

.contactInfo{
	padding-top: 10px;
	float: left;
	margin-bottom: -40px;
	}

.contactInfo h2{
	background: white;
	color: #d2232a;	
	font-weight: 500;
	font-size: 38px;
	}


.callAnytime{
	padding-bottom: 0px;
	margin-top: 5px;
	}

.ownerTechnician{
	padding-bottom: 10px;
	margin-top: -10px;
	border-bottom: solid #d2232d 2px;
	}

.officemanager{
	padding-bottom: 10px;
	margin-top: 0px;
	border-bottom: solid #d2232d 2px;
	}

.phoneNumber{
	margin: 5px 0 0 0;
	}

.address1{
	margin: 5px 0 0 0;
	}

.address2{
	margin: -10px 0 0 0;
	}

.email{
	
	}

.twitter{
	float: left;
	margin: 10px 10px 0 0;
	line-height: 20px;
	letter-spacing: .05em;
	}

.twitterLogo{
	margin-top: 12px;
	margin-left: -12px;
	}

.facebookLogo{
	margin-left: 35px;
	margin-top: 12px;
	padding-right: 10px;
	line-height: 20px;
	}

.contactFooter{
	width:960px;
	margin:0px auto;
	}

.twitterLogo{
	padding-top: 5px;
	width: 40px;
	float: left;
	}

#footContainer{	
	margin: 0px auto;
	width: 960px;
	}

#twitter_logo a.twitter_logo {
    background: url('../images/twitter_logo_sprite.png') no-repeat scroll 0 0 transparent;
	}

#twitter_logo a, #twitter_logo .search {
    display: block;
    height: 40px;
    margin: 0;
    text-indent: -9999px;
    width: 43px;
    /*background-color: olive;*/
	}

#twitter_logo{
	/*background-color: blue;*/
	float: left;
	margin-right: 10px;
	margin-top: 20px;
	}

#twitter_logo a.twitter_logo{background: transparent url('../images/twitter_logo_sprite.png') no-repeat 0 0; }
#twitter_logo a.twitter_logo:hover{ background: transparent url('../images/twitter_logo_sprite.png') no-repeat 0 -36px; }
#twitter_logo a.twitter_logo:active{ background: transparent url('../images/twitter_logo_sprite.png') no-repeat 0 -36px; }

#facebook_logo a.facebook_logo {
    background: url('../images/facebook_logo_sprite.png') no-repeat scroll 0 0 transparent;
    clear: both;
	}

#facebook_logo a, #facebook_logo .search {
    display: block;
    height: 36px;
    margin: 0;
    text-indent: -9999px;
    width: 38px;
	}

#facebook_logo a.facebook_logo{background: transparent url('../images/facebook_logo_sprite.png') no-repeat 0 0; }
#facebook_logo a.facebook_logo:hover{ background: transparent url('../images/facebook_logo_sprite.png') no-repeat 0 -35px; }
#facebook_logo a.facebook_logo:active{ background: transparent url('../images/facebook_logo_sprite.png') no-repeat 0 -35px; }

#facebook_logo{
	margin-left: 4px;
	/*background-color: blue;*/
	}

#facebook_logo_sprite{
	width: 40px;
	float: left;
	}

.socialMediaCalls{
	/*background-color: green;*/
	float: left;
	padding-left: 15px;
	}
	
.contact p{
	line-height: 20px;
	margin-top: -3px;
	}	

#wufoo-z7x3x5{
	width: 300px;
	float: left;
	/*background-color: fuchsia;*/
	color:  #d2232d ; 
	margin-top: 20px;
	}

.lynette{
	margin-top: 8px;
	}

#facebook_logo{
	/*background-color: lime;*/
	}

#container{
	/*background-color: pink;*/
	}

#coverage_map{
	width: 300px;
	float: left;
	margin: 15px 0 0 10px;
	padding-right: 0px;
	}

#coverage_map h5{
	width: 280px;
	float: left;
	margin: 2px 0 0 10px;
	padding-right: 0px;
	line-height: 30px;
	}

#homebase{
margin: 30px 0 0 40px;
	}

#red_house{
	margin: 0px 0 -50px 775px;
	}

#footer.contact{
	margin-top: 0px;
	padding-top: 0px;
	}

/*tutorial page*/

/* CAROUSEL */

.carousel{
    margin:  0 0 25px 0;
    position:relative;
    height: 340px;
    width: 880px;
    overflow:hidden;    
	}

.carousel h2{
	color: #fff;
	}	

.carousel .backgrounds{
    height: 354px;
	}

.carousel .backgrounds .item{
    width: 880px;
    height: 340px;
    float:left;
    position:relative;
    z-index:1;
	}

.carousel .backgrounds .item_1{
    background: transparent url(../images/carousel_bg_arrow.jpg) no-repeat 0 0;
	}

.carousel .backgrounds .item_2{
    background: transparent url(../images/carousel_bg_arrow.jpg) no-repeat 0 0;
	}

.carousel .backgrounds .item_3{
    background: transparent url(../images/carousel_bg_1.jpg) no-repeat 0 0;
	}

.carousel .panel{
    background: #000;
    color: #fff;
    position:absolute;
    right: 0;
    top:0;
    height: 240px;
    width: 275px;
    z-index:10;
	}

.carousel .panel .paging{
    position:absolute;
    bottom: 25px;
    left:25px;
    width: 225px;    
    text-align:center;   
	}

.carousel .panel .paging a{
    color: #4c4c4c;
    font-size: 1.1em;
	}

.carousel .panel .pause{
    position:absolute;
    right:20px;
    top:25px;
    display:block;
    width: 18px;
    height: 18px;
    background: transparent url(../images/carousel_pause_bg.gif) no-repeat 0 0;
    text-indent: -6000px;
	}

.carousel .panel .play{
    position:absolute;
    right:20px;
    top:25px;
    display:block;
    width: 18px;
    height: 18px;
    background: transparent url(../images/carousel_play_bg.gif) no-repeat 0 0;
    text-indent: -6000px;
	}


.carousel .panel .paging .next{
    position:absolute;
    right:0;
    bottom:0;
    display:block;
    width: 18px;
    height: 18px;
    background: transparent url(../images/carousel_next_bg.gif) no-repeat 0 0;
    text-indent: -6000px;
	}

.carousel .panel .paging .previous{
    position:absolute;
    left:0;
    bottom:0;
    display:block;
    width: 18px;
    height: 18px;
    background: transparent url(../images/carousel_previous_bg.gif) no-repeat 0 0;
    text-indent: -6000px;
	}

.carousel .panel .paging #numbers a {
    padding: 0 5px 0 5px;
	}

.carousel .panel .paging #numbers a.selected {
    color: #fff;
	}

.carousel .panel .details_wrapper {
    position:absolute;
    top:20px;
    left:25px;
    width: 225px;
    overflow:hidden;
    height: 200px;
	}

.carousel .panel .details_wrapper .details{
    height: 200px;
	}

.carousel .panel .details_wrapper .details .detail{
    width: 225px;
    height: 200px;
    float:left;
	}

.carousel .panel .details_wrapper .details h2{
    font-size: 1.9em;
    line-height: 1.2em;
    margin: 0 0 5px 0;
	}

.carousel .panel .details_wrapper .details a.more{
    color: #fff;
    font-size:1.1em;
	}   

/* END CAROUSEL */

.testimonials{
	color: white;
	width: 550px;
	margin-left: 30px;
	line-height: 28px;
	height: 200px;
	}

.panel1{
 	height: 80px;
	 }

.Lexia-Regular{
	color: white;
	}	

.active{

	}
	
#testimonial_1{
	width: 500px;
	height: auto;
	background-color: blue;
	text-color: white;
	}

#clickme p{
	background-color: #d2232d;
	cursor: pointer;
	height: auto;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-top: 20px;
	width: 90px;
	text-align: center;
	margin-left: 10px;
	}

.testimonial p{
	color: white;
	}

.house{
	display:none;
	}

#textbox{
	letter-spacing: .04em;
	width: 700px;
	margin: 10px 0 0 30px;
	height: auto;
	
	}


.active#textbox{
	height: auto;
	}



.pullquote {
	background-color: white;
	width: 300px;
	height: auto;
	padding: 10px;
	margin: -80px 0 0 10px;
	}
	
#clickme p:hover {
	color: #cccccc;
	}
	
#content h5{
	color: white;
	}

.hide-wrapper{
	padding: 20px 0 20px 0;
	width: 300px;
	margin-left: 70px;
	position: relative !important;
	}
	
.quote{
	margin-top: 30px;
	margin-left: 10px;
	}
	
	
#content_testimonials{
	margin-top: 0px;
	background-color:  #d2232a;
	min-height: 400px;
	clear: both;
	display: block;
	position: relative;
	}

.testimonial h1{
	margin-left: 70px;
	color: white;
	padding: 15px 0 0 10px;
	letter-spacing: .05em;
	}

.testimonial h5{
	color: white;
	letter-spacing: .05em;
	}


.pullquote h3{
	line-height: 1.25em;
	padding-left: 10px;
	}

.hideme{
	display:none;
	}
	
#slideshow{	
	height:auto !important;
	width: 300px;
	}
	
#slideNav {
	z-index: 50;
	position: absolute;
	bottom: 10px;
	right: 15px;
	}
				
#slideNav a{	
	margin: 0 3px;
	padding: 3px 3px;
	background: #cff;
	text-decoration: none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	}	

#slideNav a.activeSlide {
	background: #aaf;
	}

#slideNav a:focus {
	outline: none;
	}

<<<<<<< HEAD

/* #Media Queries
======================================================================================= */

  /* Smaller than standard 960 (devices and browsers) */
  @media only screen and (max-width: 959px) {}

  /* Tablet Portrait size to standard 960 (devices and browsers) */
  @media only screen and (min-width: 768px) and (max-width: 959px) {
	#whereWeDoIt img {
		width: 305px;
		}
  }

  /* All Mobile Sizes (devices and browser) */
  @media only screen and (max-width: 767px) {}

  /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
  @media only screen and (min-width: 480px) and (max-width: 767px) {

	/* START HEADER NAV */

	ul.nav li{
		float: left;
		text-align: left;
		list-style: none;
		border: none;
		color: #d2232a;
		padding: 2px 8px 35px 0;
		margin: 25px 9px 0px 0px;
		border: none;   
		background-color: none;
		font-size: 68%;
		letter-spacing: .08em;
		}
		
	/* END HEADER NAV */

	/* START SERVICES PAGE */
		
	#phone .text{
		margin-bottom: 20px;
		padding-bottom: 20px;
		border-bottom: solid 2px #d2232a;
		border-right: none;
		}
	
	#internet .text{
		margin-bottom: 20px;
		padding-bottom: 20px;
		border-bottom: solid 2px #d2232a;
		border-right: none;
		}
	
	#tv {
		padding-left: 0px;
		padding-right: 0px;
		padding-bottom: 20px;
		}	
		
	#internet {
		padding-left: 0px;
		padding-right: 0px;
		padding-bottom: 20px;
		}	

	#phone {
		padding-left: 0px;
		padding-right: 0px;
		padding-bottom: 20px;
		}	
	
	#internet a.internet_products {
		margin-right: 0px;
		}
		
	#phone a.phone_products {
		margin-right: 0px;
		}

	/* END SERVICES PAGE */

	/* START WHO WE ARE PAGE */

	#whereWeDoIt img {
		width: 360px;
		}
	
	#whatWeDo {
		border-bottom: solid 2px #d2232a;
		}
	
	/* END WHO WE ARE PAGE */

	/* START FOOTER */

	#footer li {
		margin: 0 0 0 16px;
		}
		
	#footer p {
		margin: 5px 0px 0px 160px;
		}

	/* START FOOTER */

  }

  /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
  @media only screen and (max-width: 479px) {}
=======
>>>>>>> contact page updates
